a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.content{
    width: 100vw;
    margin: auto;
}

.left-content{
    overflow: auto;
    position: fixed;
    width: 15vw;
    height: 100vh;
    float: left;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}
.right-content{
    overflow: auto;
    width: 85vw;
    float: right;
    font-family: serif;
    /* background: coral; */
}
.heading{
    font-size: 4vw;
    padding-top: 30px;
}
#para{
    font-size: 1.5vw;
    text-align: justify;
}
.main-content{
    width: 90%;
    margin: auto;
}
.content-image{
    /* padding: 5px; */
    margin: .5vw;
    width: 30vw;
    height: auto;
}
.chapterName{
    color: white;
    font-size: 1.5vw;
    font-weight: 100;
    padding: -1px;
}

.index{
    padding-top: 50px; 
    color: white; 
    font-size: 3vw; 
    text-align:center; 
    font-weight: bold;
}

a {
    font-size: 1vw;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1px 1px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

#name{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
    color: #fff;
    font-family: 'Stalemate', cursive;
    font-size: 1.5vw;
}
